Source: netmaze
Maintainer: John Goerzen <jgoerzen@complete.org>
Section: games
Priority: optional
Standards-Version: 3.5.2
Build-Depends: sharutils, tix-dev, libx11-dev, libxext-dev, libxt-dev, x-dev, xutils, xutils-dev

Package: netmaze
Architecture: any
Section: games
Priority: optional
Depends: ${shlibs:Depends}, tix, tk8.4
Description: 3-D Multiplayer Combat Game
 This is a 3-D multiplayer game for X.  You can play by
 yourself, use computerized players ("bots"), or you can
 use a TCP/IP network and play against other players.
 .
 Be sure to read the documentation that will be
 installed in /usr/share/doc/netmaze/README.Debian
