#!/usr/bin/make -f

# Debian Package Building Makefile

# Package maintainer: John Goerzen <jgoerzen@complete.org>

# Configuration and compilation

PACKAGENAME=netmaze
BASE=debian/tmp
BINARIES=$(PACKAGENAME)
AUXBINARIES=netserv betterbot dummy follower
LIBDIR=$(BASE)/usr/lib/games/$(PACKAGENAME)
STRIP=strip

build:
	xmkmf
# Force compilation using -O3....
	cp Makefile Makefile~
	sed s/-O2/-O3/ Makefile~ > Makefile
	make
	touch build

binary: binary-arch binary-indep

binary-indep: build

# This one needs to be root.

binary-arch: build
	rm -rf debian/tmp
	install -d debian/tmp debian/tmp/DEBIAN debian/tmp/usr/games \
		debian/tmp/usr/doc/$(PACKAGENAME) \
		$(LIBDIR)
# Netmaze goes into bin, everything else to the lib dir.
	install $(BINARIES) debian/tmp/usr/games
	$(STRIP) debian/tmp/usr/games/$(BINARIES)
	install $(AUXBINARIES) $(LIBDIR)/
	$(STRIP) $(LIBDIR)/*
	cp -r mazes lib $(LIBDIR)
	chmod go+rx $(LIBDIR)/{mazes,lib}
	cp debian/changelog debian/tmp/usr/doc/$(PACKAGENAME)/changelog.Debian
	cp README.Debian CREDITS README TODO debian/tmp/usr/doc/$(PACKAGENAME)
	cp CHANGES debian/tmp/usr/doc/$(PACKAGENAME)/changelog
	gzip -9vr debian/tmp/usr/doc/$(PACKAGENAME)
	cp debian/copyright debian/tmp/usr/doc/$(PACKAGENAME)/copyright
	dpkg-shlibdeps debian/tmp/usr/games/netmaze \
		$(LIBDIR)/{netserv,betterbot,follower,dummy}
	dpkg-gencontrol
	chown -R root.root debian/tmp
	chmod -R go-ws,go+r debian/tmp
	dpkg --build debian/tmp ..

clean:
	-make clean
	rm -rf build debian/tmp debian/files debian/substvars debian/*~ \
		*.o *~ Makefile *.bak

.PHONY: clean binary binary-indep binary-arch
